@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=MedievalSharp&family=Nunito+Sans:opsz@6..12&family=Oswald:wght@700&family=Poppins:wght@100;400&family=Shadows+Into+Light&family=Whisper&family=Young+Serif&family=Zeyada&display=swap");

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  overflow: hidden;

  &__title {
    display: flex;
    text-align: center;
    margin: 0;

    &__text {
      float: inline-start;
      font-family: "Bangers", system-ui;
      font-size: 1.8em;
      color: #f2f2f2;
      margin: 0;
      position: absolute;
      text-align: center;
    }
  }
  &__nav {
    background-color: red;
    
  }
}
